
html,body{
background-color: #9CD2F7;
width: 99%;
}

.email span {
	font-size: 0.9em;
}

#email_expanded_col {
	display: none;
}

#email_expanded > .panel-body{
	
	padding: 15px;
	background-color: #DAEDE1;

}
#header {
	margin-bottom: 20px;
}

#header > div > h2 {
	margin-left: 20px;
}

#poke{
	margin-top: 5px;
}

#reply{
	margin-top: 5px;
}

#navigation {
	margin: 0px auto 0px 10px;
	min-width: 100px;
}

#new_message_editor {
	display: none;	
	background-color: #DAEDE1;
}

#new_message_options {
	display:inline-block;
	padding:0px 5px 5px 5px;
	margin-top: 15px;
	width: 100%;
}

#footer{
clear: left;
width: 100%;
background-color: #56A0D3;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

#predictions {
	width: 100%;
    padding-bottom:10px;
}

.longResponse{
	color:red;
	padding-right: 5px;
}
.fastResponse{
	color:green;
	padding-right: 5px;

}

#prediction_menu_options {
	margin:0px 0px 10px 20px;
}

.contact_wrapper > a:hover {
    text-decoration: none;
}

.contact_wrapper span.prediction {
    font-size:110%;
}
.contact_wrapper  span.prediction:hover {
    color: #FF9966;
}

a.prediction {
	padding-right: 6px;
}

a.prediction_group:hover {
    text-decoration: none;
}

a.selected {
	color:#FA8816;
}
a#flat, a#hierarchical {
	font-size: 110%;
	font-weight: bold;
}
a#flat:hover, a#hierarchical:hover {
	cursor:pointer;

}

span#to_field_outer {
	margin-bottom: 20px;
	display:inline-flex;
}

span#to_field_outer div {
	display: inline-block;
	padding-right: 10px;
}

span#to_field_outer span.wrapper {
	padding-left: 10px;
}

input#to_field {
	margin:auto;
	display:block;
	float:right;
	width:100%;
	height:100%;
	border:0;
}

input#to_field:focus {
	outline:0;
}
.wrapper span.remove {
    color:#CCCCCC;
    font-size:10px;
    position:inherit;
    vertical-align:middle;
    margin-left:4px;
}
.wrapper span.remove:hover {
    color:#666666;
    cursor:pointer;
}

.date {
	float: right;
	padding-right: 20px;
}

.sender {
	font-weight: bold;
}

.preview {
	color:#A3A3A0;
}

.email {
	background-color: #CADCE3;
}

.email:hover {
	cursor: pointer;
	background-color: #DAEDF5;
}

.contact{
	background-color: #FF9900;
}

.contact:hover {
	cursor: pointer;
	background-color: #993300;
}

textarea {
    resize: none;
}

#replayMenu{
position: absolute;
top: 20px;
left: 310px;
}

#title{
	float: left;
}

.replay{
	float: left;
	display: inline-block;
	margin-left: 20px;
	text-align: center;
}

.replay:hover, .replayHover{
color: red;
}

#time{
	width: 20px;
}

#stats{
	position: absolute;
	top: 30px;
	left: 620px;
}

.btn-select{
margin: 0px auto 0px auto;
background-color: #3690ce;
color: white;
min-width: 60px;
}
