
html,body{
background-color: #9CD2F7;
width: 99%;
}

.email span {
	font-size: 0.9em;
}

#email_expanded_col {
	display: none;
}

#email_expanded > .panel-body{
	
	padding: 15px;
	background-color: #DAEDE1;

}
#header {
	margin-bottom: 20px;
}

#header > div > h2 {
	margin-left: 20px;
}

#navigation {
	margin: 0px 40px 0px 10px;
}

#new_message_editor {
	display: none;	
	background-color: #DAEDE1;
}

#new_message_options {
	display:inline-block;
	padding:0px 5px 5px 5px;
	margin-top: 15px;
	width: 100%;
}

#footer{
clear: left;
width: 100%;
background-color: #56A0D3;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

#predictions {
	display: none;
	width: 100%;
    padding-bottom:10px;
}

#prediction_menu_options {
	margin:0px 0px 10px 20px;
}

.contact_wrapper > a:hover {
    text-decoration: none;
}

.contact_wrapper span.prediction {
    font-size:110%;
}
.contact_wrapper  span.prediction:hover {
    color: #FF9966;
}

a.prediction {
	padding-right: 6px;
}

a.prediction_group:hover {
    text-decoration: none;
}

a.selected {
	color:#FA8816;
}
a#flat, a#hierarchical {
	font-size: 110%;
	font-weight: bold;
}
a#flat:hover, a#hierarchical:hover {
	cursor:pointer;

}

span#to_field_outer {
	margin-bottom: 20px;
	display:inline-flex;
	justify-content: space-between;
}

span#to_field_outer div {
	display: inline-block;
}

span#to_field_outer span.contact_wrapper {
	padding-left: 5px;
}

input#to_field {
	margin:auto;
	display:block;
	width:100%;
	height:100%;
	border:0;
}

input#to_field:focus {
	outline:0;
}
.contact_wrapper span.remove {
    color:#CCCCCC;
    font-size:10px;
    position:inherit;
    vertical-align:middle;
    margin-left:4px;
}
.contact_wrapper span.remove:hover {
    color:#666666;
    cursor:pointer;
}

.date {
	float: right;
	padding-right: 20px;
}

.sender {
	font-weight: bold;
}

.preview {
	color:#A3A3A0;
}

.email {
	background-color: #CADCE3;
}

.email:hover {
	cursor: pointer;
	background-color: #DAEDF5;
}

textarea {
    resize: none;
}

