html {
	overflow-x: hidden;
	max-width: 100%;
}
html,body{
	background-color: #fff;
	width: 99%;
	font-family: 'Calibri', sans-serif;
}

#questionListArea {
	width: 50%;
	margin: 0 auto;
	background-color: #fff;
	position: absolute;
	left: 25%;
	right: 25%;

}

#questionDetailArea {
	margin-top: -12.5%;
	margin-left: 175%;
	width: 50%;
	position: absolute;
	margin: 0 auto;
	left: 175%;
}


#title {
	color: #56a0d3;
	font-variant: small-caps;
	font-size: 5em;
	text-align: center;
	font-weight: bold;
}

h2 {
	font-size: 3em;

}

.arrow {
	cursor: pointer;
	width: 50px;
	height: 50px;
    background-size: 50px;
	background-repeat: no-repeat;
	text-align: center;
	padding: 0 auto;
}

.up-arrow {
	background-image: url('../img/blue-up-arrow.png');
	margin-bottom: -15px;

}

.up-arrow:hover {
	background-image: url('../img/hover-up-arrow.png');
}

.down-arrow {
	background-image: url('../img/blue-down-arrow.png');
	margin-top: -15px;
}

.down-arrow:hover {
	background-image: url('../img/hover-down-arrow.png');
}

.up-vote-arrow {
	background-image: url('../img/hover-up-arrow.png');
	margin-bottom: -15px;

}

.down-vote-arrow {
	background-image: url('../img/hover-down-arrow.png');
	margin-top: -15px;

}

.questionLayout {
	border-padding: 10px 10px;
	width: 100%;
}


.stat {
	font-size: 3em;
	color: #bbd5e7;
	font-weight: bold;
	text-align: center;
	margin-bottom: -15px;

}

.statLabel {
	text-align: center;
	font-size: 1.5em;
	color: #bbd5e7;
}

.postTitle {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 10px;
	height: 15px;
}

.tags {
	margin-bottom: 20px;
}

.tag {
	cursor: pointer;
	background-color: #A6D3F9;
	padding: 3px 5px;
	margin: 0px 2px;

}

.tag:hover {
	background-color: #D7E9F9;
}

.postInfo {
	margin-bottom: 20px;
	text-align: right;
}


table.questionLayout:nth-child(odd) {
	background-color: #F5F0E5;
}


.titleLink {
	cursor: pointer;
}


.questionDetailTitle {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: -10px;
}

hr {
	margin-top: 0;
	margin-bottom: 20px;
	border-color: blue;
}

.detailStat {
	font-size: 3em;
	color: #bbd5e7;
	font-weight: bold;
	text-align: center;
	margin-bottom: -10px;
	margin-top: -10px;
	margin-left: 12px;
	float: left;

}
.postContent {
	margin-top: -25px;
}
.bodyText {
	padding-top: 15px;
	margin-left: 15px;
	font-size: 1.25em;
	font-weight: 600;
}



.detailTags {
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: 12px;
}

.detailPostInfo {
	padding: 5px 10px;
	background-color: #F5F0E5;
	float: right;

}

.numAnswersDisplay {
	margin-top: 20px;
	font-size: 1.25em;
	font-weight: bold;
}

.answerBodyText {
	padding-top: 15px;
	margin-left: 15px;
	font-size: 1.05em;
}

.answerContent {
	margin-top: -25px;
}

.answerDetailStat {
	font-size: 2em;
	color: #bbd5e7;
	font-weight: bold;
	text-align: center;
	margin-bottom: -7px;
	margin-left: 10%;
	margin-top: -10px;
	margin-right: 5%;
	
	
}

.detailAnswerInfo {
	padding: 5px 10px;
	background-color: #F5F0E5;
	float: right;
}

.spacer {
	margin-top: 15px;
}

.answersTable {
	width: 100%;
}

.questionDetailTable {
	width: 100%;
}

/*.answersTable td, .questionDetailTable td {
	border: 2px solid black;
	border-collapse: collapse;	
}
*/
.votingBox {
	margin-right: -10px;
}

.answerVotingBox {
	margin: 0 auto;
	padding: 0 auto;
	display: inline;
	width: 10%;
}

.answerVotingCell {
	width: 1px;
}

#backButton {
	display: none;
	background-color: orange;
	width: 10em;
	font-size: 1.5em;
	cursor: pointer;
	position: fixed;
	padding: 5px 10px;
}

#backButton:hover {
	background-color: yellow;
}

.emphasisDivider {
	border-top: 1px dashed #f00;
	border-bottom: 1px solid #f00;
	color: #fff;
	background-color: #fff;
	height: 4px;
}

.emphasisDividerFlipped {
	border-bottom: 1px dashed #f00;
	border-top: 1px solid #f00;
	color: #fff;
	background-color: #fff;
	height: 4px;
}

#newQuestionButton {
	border: 3px solid #bbd5e7;
	font-size: 2em;
	font-weight: bold;
	padding: 5px 10px;
	position: fixed;
	left: 75%;
	top: 25%;
	cursor: pointer;
	margin-left: 1.5%;
}

#newAnswerButton {
	border: 3px solid #bbd5e7;
	font-size: 2em;
	font-weight: bold;
	padding: 5px 10px;
	position: fixed;
	left: 195%;
	top: 25%;
	cursor: pointer;
	margin-left: 1.5%
}

#newQuestionButton:hover, #newAnswerButton:hover {
	background-color: #bbd5e7;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 750px;
  margin: 20px auto;
}

.tagit-autocomplete {
	z-index: 100000;
}

#settingsIcon {
	background-image: url("../img/gear-light.png");
	height: 47px;
	width: 47px;
	position: fixed;
	top: 0;
	right: 0;
}

#settingsIcon:hover {
	background-image: url("../img/gear.png");
}

td.stattd {
	width: 118px;
}